.leaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderLists {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .leaderLists {
    flex-direction: column;
  }
}
